#titulo {
  width: 100%;
  height: 160px;
}
#fundo1 {
  position: absolute;
  width: 100%;
  height: inherit;
}
#texto1 {
  position: absolute;
  font-family: Arial;
  font-size: 21pt;
  color: #0089ff;
  text-shadow: 1px 0px 2px black;
  padding: 19px 212px;
  white-space: nowrap;
}
#texto2 {
  position: absolute;
  font-family: Arial;
  font-size: 17pt;
  color: #04c5c5;
  text-shadow: 1px 0px 2px black;
  padding: 66px 212px;
  white-space: nowrap;
}
#icone1 {
  position: absolute;
  width: 98px;
  padding: 38px 92px;
}
#centro {
  width: 98%;
  height: 640px;
  margin: 0 auto;
  background-color: #23b2e0;
}
.pcentro {
  text-align: center;
}
